.app{
  background-color: rgba(132, 0, 255, 0.256);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.image{
  height: 300px;
  width: 300px;
  border-radius: 150px;
}
.clickMe{
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin: 5px;
  background-color: blueviolet;
}